body
{
	height: 100%;
	width: 100%;
	margin: 0;
}
#navigation
{
	position: relative;
	width: 100%;
	height: 220px;
	background-color: #191919;
	color: #F9F9FC;
}
#header
{
	position: absolute;
	left: 40px;
	top: 20px;
}
#nav-bar
{
	position: absolute;
	top: 100px;
	width: 100%;
	height: 40px;
	background-color: #191919;
	padding-left: 10px;
	padding-right: 10px;
}
#context-bar
{
	position: absolute;
	top: 140px;
	width: 100%;
	height: 40px;
	background-color: #001919;
	background-image: url('gradient.png');
	background-repeat:repeat-x;
}
#search-bar
{
	position: absolute;
	top: 180px;
	width: 100%;
	height: 40px;
	background-color: #DDDDDD;
}
#left-column
{
	position: absolute;
	top: 220px;
	width: 200px;
	height: 100%;
	background-color: #EEEEEE;
}
#content
{
	height:	100%;
	width: 100%;
	background-image: url('background.png');
	position: absolute;
	top: 220px;
	left: 200px;

}
.context
{
	border-radius: 5px;
}
.search
{
	padding-left: 20px;
	padding-right: 20px;
	height: 38px;
	table-layout: fixed;
	white-space: nowrap;
}
.left-odd-row
{
	height: 40px;
	width: 200px;
	background-color: #EFEFEF;
}
.left-even-row
{
	height: 40px;
	width: 200px;
	background-color: #F7F7F7;
}
table
{
	border-width: 0;
}
#user-control
{	
	position: absolute;
	right: 10px;
}
a.nav-link:visited, a.nav-link:link
{
	color: #F9F9FC;
}
a.nav-link:hover, a.nav-link:active
{
	color: #F9F9FC;
	font-weight: bold;
}
